

:root {
  --principal-color: #508A8F;
  --principal-color-35: rgba(80, 138, 143, 0.35);
  --principal-color-15: rgba(80, 138, 143, 0.15);
  --secondary-color: #FFF9F5;
  --third-color: #685A51;
  --text-xs: 14px;
  --text-s: 20px;
  --text-m: 22.4px;
  --text-l: 35.8px;
  --text-xl: 38px;
  --border-s: 10px;
  --border-m: 20px;
  --border-l: 32px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--secondary-color);
  color: var(--third-color);
  margin: 0;
}

main,
header,
section,
footer {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  font-size: var(--text-s);
}